<html ng-app="StockXApp">
    <head>
        <title>StockX Shoe Inventory System</title>
        <script src="angular.js"></script>
        <link rel="stylesheet" type="text/css" href="StockXCSS.css">
        <script src="StockXScript.js"></script>
    </head>
    <body>
        <h1>StockX Inventory Shelf</h1>
        <div class="WrapperGrid" ng-controller="Ctrl as c">

            <div class="box"   ng-repeat="shoe in c.shoes track by $index">
                <div class="imgDiv" ng-show="c.showImage" >
                   
                 <a href=""><img ng-click="c.showDiv($index)"  ng-src="{{shoe.imagePath}}"></a>
                </div>
                <div id="popUpDiv" ng-hide="c.showImage" ng-click="c.showDiv($index)">
                   <button>(+)Add</button> <br>
                   <a ng-href="StockXForm.html">Edit</a><br>
                   <button>(-)Remove</button>
                </div>
            </div>
            
          </div>
        
    </body>
</html>